.grid {
  display: grid;
  grid-template: 1fr / repeat(4, 276px);
  grid-auto-flow: row;
  row-gap: 38px;
  column-gap: 22px;

  /* margin-bottom: 50px; */
}

/* .listItem:hover {
  outline: 1px solid var(--text-secondary-color);
  box-shadow: -10px -10px 13px 5px red;
}  */

/* .mainWrap {
  margin-top: 84px;
} */
