.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;

  border-radius: 12px;
  border-color: transparent;
  background: var(--accent-color);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);

  cursor: pointer;
  transition: background-color var(--trans-duration)
    var(--timing-function);
}

.wide {
  width: 276px;
}
.narrow {
  width: 156px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-active-color);
}
